@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: darkslategray;
    color: #fff;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .header h1 {
    font-weight: 900;
    letter-spacing: 3.8px;
}

.container .header h3 {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1.5px;
}

.container .header button {
    border-radius: 0.7rem;
    outline: none;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background-color: darkolivegreen;
    color: #fff;
}

.container .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .questions h3 {
    letter-spacing: 1px;
    border-bottom: 1px solid yellow;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    padding: 0.2rem;
    opacity: 0.8;
}

.container .questions .answers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container .questions .answers button {
    border-radius: 0.7rem;
    outline: none;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background-color: gray;
    color: #fff;
    transition: 0.3s linear all;
}

.container .questions .answers button:hover {
    background-color: black;
}

.container .questions .answers .wrong:focus {
    background-color: red;
}

.container .questions .answers .correct {
    background-color: green;
}